@tailwind base;
@tailwind components;
@tailwind utilities;

.nextra-breadcrumb {
  display: none;
}

.group-2-teams {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.group-2-teams .teammate {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.group-1-teams {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.group-1-teams .teammate {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
